extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong
      .panel-body
          table.table.table-bordered.table-striped.summary-table
            tbody
              tr
                  td Block count
                  td #{blockcount}
              tr
                  td Difficulty
                  td #{difficulty}
              tr
                  td Total transactions
                  td #{txcount}
              tr
                  td Coin supply
                  td #{supply}
              tr
                  td Wallet addresses
                  td #{adrcount}
              tr
                  td Block average time
                  td #{blockaverage} sec
              tr
                  td Blockchain started
                  td #{start}
              tr
                  td Total time Up, second
                  td #{firstblock}
              tr
                  td Total time Up
                  td #{firstblockh}
              tr
                  td Connected nodes
                  td #{connections}
              tr
                  td Hash rate
                  td #{hashrate}


    .footer-padding

